$breakpoints: (
    "phone-down": 500px,
    "tablet-up": 768px,
    "tablet-down": 900px,
    "desktop-up": 1024px,
    "desktop-down": 1280px,
    "widescreen-up": 1440px
);
@mixin media-min($_key) {
    @media screen and (min-width: map-get($breakpoints, $_key)) {
        &{ @content; }
    }
}
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
$strong-cyan: hsl(172, 67%, 45%);
$very-dark-cyan: hsl(183, 100%, 15%);
$dark-grayish-cyan: hsl(186, 14%, 43%);
$grayish-cyan: hsl(184, 14%, 56%);
$light-grayish-cyan: hsl(185, 41%, 84%);
$very-light-grayish-cyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);
* {
    padding: 0;
    margin: 0;
    list-style: none;
}
html {
    font-size: 62.5%;
    font-family: 'Space Mono';
}
body {
    background-color: $white;
}
.background {
    background-color: $light-grayish-cyan;
}
.calculator {
    background-color: $white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
    .bill {
        input {
            background-color: $very-light-grayish-cyan;
            border: none;
        }
    }
    .tip {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        label { grid-area: 1 / 1 / 2 / 3; }
        // &:nth-child(2) { grid-area: 2 / 1 / 3 / 2; }
        // &:nth-child(3) { grid-area: 2 / 2 / 3 / 3; }
        // &:nth-child(4) { grid-area: 3 / 1 / 4 / 2; }
        // &:nth-child(5) { grid-area: 3 / 2 / 4 / 3; }
        // &:nth-child(6) { grid-area: 4 / 1 / 5 / 2; }
        // &:nth-child(7) { grid-area: 4 / 2 / 5 / 3; }
    }
    label {
        display: block;
        color: $dark-grayish-cyan;
    }
}
.result {
    background-color: $very-dark-cyan;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
